.Menu{ 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.landingpage{
    display: flex;
    flex-direction: row;
    background-image: url(Images/Untitled.png);
    background-repeat: no-repeat;
    background-size: cover;

}
#landingtag{
    flex: 50%;
    text-align: center;
}
#landingimage{
    text-align: center;
}
body{
    font-family: poppins;
}
.about{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left: 10%;
    width: 80%;
    margin-top: -800px;
}
.about h2{
    color: brown;
}
.about img{
    height: 200px;
    width: 200px;
}
.quality{
    border: 2px black solid;
    border-radius: 5px;
}
.Menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.burgers{
    display: flex;
}
.burger{
    text-align: center;
    border-radius: 5px;
    border: 2px black solid;
}
.burger img{
    height: 200px;
    width: 200px;
}
.burger h2{
    color: brown;
}
.burgers{
    display: flex;
}
.burger{
    text-align: center;
    border-radius: 5px;
    border: 2px black solid;
}
.burger img{
    height: 200px;
    width: 200px;
}
.burger h2{
    color: brown;
}